# Burp Suite Professional {{ version }}

## ChangeLog
{{ changelog }}

## Instructions
See [Getting Started](https://github.com/mmgordon82/BurpSuiteInstaller#getting-started) section of the readme. 


## Files
 - `burpsuite_pro_patcher_linux.sh` - Patches the linux version of Burp Suite Professional